node-red-sample-flow.json
[{"id":"eb4b36c9.5a8748","type":"http in","z":"5eefdc30.063b34","name":"","url":"/test1","method":"get","swaggerDoc":"","x":450,"y":74,"wires":[["60a8043b.8f683c"]]},{"id":"60a8043b.8f683c","type":"template","z":"5eefdc30.063b34","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Hello world.</h1>","x":802,"y":74,"wires":[["14f3da37.226476"]]},{"id":"14f3da37.226476","type":"http response","z":"5eefdc30.063b34","name":"","x":1106,"y":79,"wires":[]},{"id":"b443d7f7.16b978","type":"http in","z":"5eefdc30.063b34","name":"","url":"/test2","method":"get","swaggerDoc":"","x":354,"y":169,"wires":[["529f8762.d8dc58"]]},{"id":"529f8762.d8dc58","type":"exec","z":"5eefdc30.063b34","command":"ls -al","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":568,"y":176.5,"wires":[["47e8ef74.30b82"],[],[]]},{"id":"47e8ef74.30b82","type":"http response","z":"5eefdc30.063b34","name":"","x":812,"y":162,"wires":[]},{"id":"df1fffcf.70daf","type":"http in","z":"5eefdc30.063b34","name":"","url":"/test3","method":"get","swaggerDoc":"","x":333,"y":261,"wires":[["e944ce69.cd19d","e7db6a53.267ba8"]]},{"id":"c81d1efa.d69a9","type":"http response","z":"5eefdc30.063b34","name":"","x":1026,"y":255,"wires":[]},{"id":"e944ce69.cd19d","type":"template","z":"5eefdc30.063b34","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Hello again</h1>\n<h2>{{payload.color}}</h2>","x":820,"y":242,"wires":[["c81d1efa.d69a9"]]},{"id":"a4c7a54d.6435a8","type":"http in","z":"5eefdc30.063b34","name":"","url":"/test4","method":"get","swaggerDoc":"","x":309,"y":419,"wires":[["14553137.6c50cf"]]},{"id":"14553137.6c50cf","type":"function","z":"5eefdc30.063b34","name":"","func":"msg.payload=msg.req.query.text;\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":445,"wires":[["336557d6.fb3418"]]},{"id":"336557d6.fb3418","type":"exec","z":"5eefdc30.063b34","command":"echo \"I think\"","addpay":true,"append":"\"rules.\"","useSpawn":"","timer":"","name":"","x":735,"y":442.5,"wires":[["5006c37a.255aac"],[],[]]},{"id":"5006c37a.255aac","type":"template","z":"5eefdc30.063b34","name":"","field":"payload","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n    <h1>What did you say?</h1>\n    <h2>{{msg.req.query.text}}</h2>\n    </body>\n</html>","x":918,"y":449,"wires":[["da09f2a4.9fce"]]},{"id":"da09f2a4.9fce","type":"http response","z":"5eefdc30.063b34","name":"","x":1100,"y":426,"wires":[]},{"id":"ee7c2f9e.cee53","type":"template","z":"5eefdc30.063b34","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n\t\n\t<title>Leaflet</title>\n\n\t<meta charset=\"utf-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\n\t<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"docs/images/favicon.ico\" />\n\n\t<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.css\" />\n\t<script src=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.js\"></script>\n\n\n\t\n</head>\n<body>\n<h1>{{payload.latlong}}</h1>\n\n\n<div id=\"mapid\" style=\"width: 600px; height: 400px;\"></div>\n<script>\n\n\tvar mymap = L.map('mapid').setView([{{payload.latlong}}], 8);\n\n\tL.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {\n\t\tmaxZoom: 18,\n\t\tattribution: 'Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, ' +\n\t\t\t'<a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, ' +\n\t\t\t'Imagery © <a href=\"http://mapbox.com\">Mapbox</a>',\n\t\tid: 'mapbox.streets'\n\t}).addTo(mymap);\n\n\tL.marker([[{{payload.latlong}}]]).addTo(mymap)\n\t\t.bindPopup(\"<b>Hello world!</b><br />I am a popup.\").openPopup();\n\n\n\n</script>\n\n\n\n</body>\n</html>","x":732,"y":329,"wires":[["11b6b7f0.e8eae8","6519dee9.1d124"]]},{"id":"de8b00c.a957d","type":"http in","z":"5eefdc30.063b34","name":"","url":"/testgeo","method":"get","swaggerDoc":"","x":334,"y":339,"wires":[["ee7c2f9e.cee53"]]},{"id":"11b6b7f0.e8eae8","type":"http response","z":"5eefdc30.063b34","name":"","x":954,"y":329,"wires":[]},{"id":"e7db6a53.267ba8","type":"debug","z":"5eefdc30.063b34","name":"","active":true,"console":"false","complete":"false","x":605,"y":289,"wires":[]},{"id":"6519dee9.1d124","type":"debug","z":"5eefdc30.063b34","name":"","active":true,"console":"false","complete":"payload","x":886,"y":381,"wires":[]},{"id":"209b61c7.ee20de","type":"http in","z":"5eefdc30.063b34","name":"","url":"/geogrep","method":"get","swaggerDoc":"","x":341,"y":585,"wires":[["fd63c2ee.9b6ba"]]},{"id":"ee691fc4.09359","type":"template","z":"5eefdc30.063b34","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n\t\n\t<title>Leaflet</title>\n\n\t<meta charset=\"utf-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\n\t<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"docs/images/favicon.ico\" />\n\n\t<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.css\" />\n\t<script src=\"https://unpkg.com/leaflet@1.0.3/dist/leaflet.js\"></script>\n\n\n\t\n</head>\n<body>\n\n\n<div id=\"mapid\" style=\"width: 600px; height: 400px;\"></div>\n<script>\n\n\tvar mymap = L.map('mapid').setView([35.9780327856,-79.029364473], 11);\n\n\tL.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {\n\t\tmaxZoom: 18,\n\t\tattribution: 'Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, ' +\n\t\t\t'<a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, ' +\n\t\t\t'Imagery © <a href=\"http://mapbox.com\">Mapbox</a>',\n\t\tid: 'mapbox.streets'\n\t}).addTo(mymap);\n\nvar marker;\n\n{{payload}}\n\n\n</script>\n\n\n\n</body>\n</html>","x":763,"y":575,"wires":[["7b096558.7533ac"]]},{"id":"7b096558.7533ac","type":"http response","z":"5eefdc30.063b34","name":"","x":928,"y":594,"wires":[]},{"id":"4ff027f5.636e38","type":"exec","z":"5eefdc30.063b34","command":"grep -i","addpay":true,"append":"places_x_y.csv | awk -F \",\" '{print \"L.marker([\"$2\",\"$3\"]).addTo(mymap);\"}'","useSpawn":"","timer":"","name":"","x":637,"y":649.5,"wires":[["ee691fc4.09359","c48863d8.7fd91"],[],[]]},{"id":"fd63c2ee.9b6ba","type":"function","z":"5eefdc30.063b34","name":"","func":"msg.payload=msg.req.query.q;\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":535,"wires":[["4ff027f5.636e38"]]},{"id":"c48863d8.7fd91","type":"debug","z":"5eefdc30.063b34","name":"","active":true,"console":"false","complete":"false","x":823,"y":660,"wires":[]}]
